body {
  font-family: "Arial", sans-serif;
  color: #ffffff;
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2e2e2e;
  padding: 20px;
  text-align: left;
  border-bottom: 2px solid #444;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .logos {
  display: flex;
  align-items: center;
}

header img {
  display: block;
}

header h1,
h3 {
  margin: 10px 0 0 0;
  font-size: 2em;
  color: #cccccc;
}

header h3 {
  font-size: 1em;
}

h2 {
  color: #cccccc;
  padding: 0 20px;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3e3e3e;
    color: #ffffff;
}

td {
    background-color: #2e2e2e;
    color: #cccccc;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
  background-color: #2e2e2e;
  text-align: center;
  padding: 10px;
  border-top: 2px solid #444;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  color: #cccccc;
}
