body {
  font-family: "Arial", sans-serif;
  color: #ffffff;
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
}

.watermark {
  position: relative;
}

.watermark::after {
  content: "real_skydish";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  pointer-events: none;
}

header {
  background-color: #2e2e2e;
  padding: 20px;
  text-align: left;
  border-bottom: 2px solid #444;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .logos {
  display: flex;
  align-items: center;
}

header img {
  display: block;
}

header h1,
h3 {
  margin: 10px 0 0 0;
  font-size: 2em;
  color: #cccccc;
}

header h3 {
  font-size: 1em;
}

main {
  padding: 20px;
  font-family: "Courier New", monospace;
  color: #cccccc;
  line-height: 1.6;
  letter-spacing: 0.1em;
}

section {
  background-color: #2e2e2e;
  padding: 5px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

section h2 {
  color: #cccccc;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}

section p {
  margin: 5px 0;
}

section a {
  color: #ffffff;
  text-decoration: underline;
}

section a:hover {
  color: #cccccc;
}

section hr {
  margin: 20px 0;
  border: 1px solid #444;
}

footer {
  background-color: #2e2e2e;
  text-align: center;
  padding: 10px;
  border-top: 2px solid #444;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  color: #cccccc;
}
